<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361650748719-0ejsbo8b8n5s01euhfj8eo71j4rter5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361650748719-0ejsbo8b8n5s01euhfj8eo71j4rter5g</string>
	<key>API_KEY</key>
	<string>AIzaSyCnyHLTu2NGwaeQJO-gBbEJaOVe5Yr9YxY</string>
	<key>GCM_SENDER_ID</key>
	<string>361650748719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navigation</string>
	<key>PROJECT_ID</key>
	<string>ambinav-bbc44</string>
	<key>STORAGE_BUCKET</key>
	<string>ambinav-bbc44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361650748719:ios:2d70b938cd2ef900ee35da</string>
</dict>
</plist>