<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738782198055-g9satuio5ldarpj5npd7g6k4ea6ruam5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738782198055-g9satuio5ldarpj5npd7g6k4ea6ruam5</string>
	<key>API_KEY</key>
	<string>AIzaSyCWShb32G32qxX-F-9G598G4S_WPhl0XEY</string>
	<key>GCM_SENDER_ID</key>
	<string>738782198055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.navigation</string>
	<key>PROJECT_ID</key>
	<string>ambinav</string>
	<key>STORAGE_BUCKET</key>
	<string>ambinav.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738782198055:ios:a33b5f7346f205ede65102</string>
</dict>
</plist>